#mainDiv {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 121, 0, 0.5);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#scores {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#gameScoreHolder {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#saveGameHolder {
  display: flex;
  flex-direction: column;
}

#saveGameHolder form {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  padding: 2vh;
  background-color: white;
  border-radius: 10px;
  border: 2px solid black;
  margin: 2vh;
}

.inputHolder {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.inputHolder input {
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  height: 30px;
  min-width: 100px;
  padding: 7px;
}

#mainDiv button {
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  width: 300px;
  min-width: 100px;
  padding: 2vh;
  margin: 2vh;
  font-size: 2.5vh;
}

#mainDiv button:hover {
  cursor: pointer;
}

.popupHolder {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.404);
  z-index: 1;
  height: 100vh;
  width: 100vw;
}

.entry,
#gameScore {
  background-color: white;
  margin: 2vh;
  font-size: 45px;
  padding: 2vh;
  border-radius: 10px;
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.buttonHolder {
  display: flex;
  gap: 2vh;
}

@media screen and (max-width: 800px) {
  #mainDiv {
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content;
  }

  .entry,
  #gameScore {
    width: 75%;
    font-size: 20px;
  }

  #gameScoreHolder {
    grid-area: 1 / 1 / 2 / 2;
  }
  #scores {
    grid-area: 3 / 1 / 4 / 2;
  }
}
