#imageHolder {
  position: relative;
  width: 100%;
  height: min-content;
  max-width: 2000px;
  min-width: 1024px;
}

#imageHolder img {
  display: block;
  width: 100%;
}

.spottedDiv {
  box-sizing: border-box;
  border: 5px solid rgb(0, 160, 0);
  position: absolute;
  pointer-events: none;
}

main {
  overflow: scroll;
}
