#imageHolder {
  position: relative;
  width: 100%;
  height: min-content;
  max-width: 2000px;
  min-width: 1024px;
}

#imageHolder img {
  display: block;
  width: 100%;
}

#selection {
  box-sizing: border-box;
  border: 3px solid red;
  position: absolute;
  pointer-events: none;
}
