#imageHolder {
  position: relative;
  width: 100%;
  height: min-content;
  max-width: 2000px;
  min-width: 1500px;
  margin: 0 auto;
}

#imageHolder img {
  display: block;
  width: 100%;
}

.spottedDiv {
  box-sizing: border-box;
  border: 5px solid rgb(0, 160, 0);
  position: absolute;
  pointer-events: none;
}

#mainImg {
  overflow: scroll;
  background-color: rgba(0, 121, 0, 0.5);
  min-width: 100vw;
  min-height: 100vh;
}

.gameover {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.219);
}

.gameover h1 {
  font-size: 5vh;
  font-weight: bold;
  color: red;
}

.gameover div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  border: 2px solid black;
  padding: 2vh;
  gap: 2vh;
}

.gameover button {
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  width: 300px;
  min-width: 100px;
  padding: 2vh;
  margin: 2vh;
  font-size: 2.5vh;
}

.gameover button:hover {
  cursor: pointer;
}
